html{overflow-y:scroll;} 

body{ list-style:none; /*retrait de toutes marges*/ padding:0px; margin:0px; /*Pourquoi un margin-right de 10px? -> Modifiée à margin:0px; et ajout de padding:0px;*/ padding:0; font-size:13px; font-family:'Avenir Next', Arial, Times, serif; color:#232323;  }

a{outline:none; text-decoration:none;}

@font-face { 
  font-family: 'Avenir'; 
  src: url('font/Avenir.ttf'); 
}

@font-face { 
  font-family: 'Avenir'; 
  src: url('font/AvenirNext.ttf'); 
}

@font-face { 
  font-family: 'Museo'; 
  src: url('font/Museo300.otf'); 
}

/*----------------------------------------------Generalise-------------------------------------*/

#header, #container, #footer{display:block; width:960px; margin:0 auto; /*background-color: blue;*/}

nav ul{margin:0; padding:0; list-style:none;}


address{font-style:normal;}


form, fieldset, legend{margin:0; padding:0; border:none;}
legend{display:none;}
input, textarea, select{font-size:12px; font-family:'Avenir Next', Arial ,Times,serif;}


h1, h2{
	font-family: 'Museo', Arial;
	color:#FA8B60;
}

h2 a{
	color:#FA8B60;
}

h2 a:hover{
	text-decoration: underline;
}

h4{
	color: #1e2d57;
	font-family: "Museo", Arial;
	margin-top: 0px;
	margin-bottom: 5px;
	font-size: 17px;
}

/*----------------------------------------------Header-------------------------------------*/

#header{

	width:960px;
	margin: auto;
}

/*margin: haut, droite, bas, gauche*/
/* le logo n'est plus dans la nav, de ce fait il faut lui attriber un bg-color ainsi qu'un padding et non un margin afin que la couleur du fond se place partout */
#header #logo{float:left; padding:0 20px 0px 20px; background-color: #232323}

#logo #header{
	 vertical-align: middle;
}

/* ---- NAVIGATION ---- */

/*retrait du margin:10px 0 0 0 dans la ligne en-dessous pour la nav, car sinon espace en haut inutile*/
/*ajout de la taille de la navigation avec width:960px;*/
#header nav{
	/*le menu fait 960 - la taille du logo + 40px, donc 680px*/
	width: 680px; 
	/* il fait la hauteur du logo, de 93px*/
	height: 93px;
	/*un float est nécessaire pour se placer à droite du logo*/
	float: left; 
	/* disposition en ligne */
	display: inline;  
	/* aucune marge ni padding*/
	margin:0; 
	padding:0; 

	color:#C0BAB6; 
	background-color:#232323;
}

/*padding plus petit pour que tous les items du menu tiennent*/
#header nav ul{ margin-top: 35px; margin-bottom: 0px;  }

#header nav li a{

	display:inline-block; 
	/*margin-right:0px; */
	color:#FFFFFF; 
	font-family: "Museo"; 
	font-size: 17px; 
	padding-bottom: 5px;
	margin-bottom: 0px;
	line-height: 30px;

}

#header nav>ul>li>a:hover{

	text-decoration: none;

	padding-bottom: 3px;
	/*Ajout d'un soulignement au survol à l'aide d'un border-bottom*/
	border-bottom: 2px #ef7039 solid;
    -moz-text-decoration-color: red;  
    -webkit-text-decoration-color: red; }

/*on réduit le margin-right afin de placer une police plus grosse pour le menu*/

#header nav li{display:inline-block; margin-right:15px; color:#FFFFFF; }

#header nav li.last{margin-right:0;}

#header nav ul li ul{

	position: absolute;
    width: 150px; /* Largeur des sous-listes */
   	left: -999em;  /*Hop, on envoie loin du champ de vision */
   	/*pour que le sous-menu soit à zéro pixel du menu au-dessus du lui*/
   	margin-top: 0px;
   	background-color: #232323;
   	
}

#header nav>ul>li>ul>a>li{
	line-height: 30px;
	/*taille à 145 car prend la largeur du ul qui le contient, moins cinq pixels utilisés en padding*/
	width: 145px;
	padding-left: 5px;
	color: white;

}

#header nav>ul>li>ul>a>li:hover{
	color: #FA8B60;
	background-color: white;
}

#header li:hover ul, #header li li:hover ul, #header li.sfhover ul, #header li li.sfhover ul  /* Sous-listes lorsque la souris passe sur un élément de liste ET sous-sous-lites lorsque la souris passe sur un élément de sous-liste */
{
        left: auto; /* Repositionnement normal */
        min-height: 0; /* Corrige un bug sous IE */
}

/* ---- FIN NAVIGATION ---- */

/*----------------------------------------------Content Area-------------------------------------*/
/* suppression du padding 30px du container car sinon le footer a 30px d'espace avec le bas */
#container{padding:0, 0;}
#container section{display:block; width:100%; margin:0 0 30px 0; padding:0;}
#container .last{margin:0;}
#container .more{text-align:right;}



/* ------Homepage-----*/

#container #homepage{display:block; width:100%; line-height:1.6em;}

#container #homepage #services{padding:0 0 0 0; border-bottom:0px solid #DEDEDE;}
#container #homepage #services article{}
#container #homepage #services figure{display:inline; float:left;}
#container #homepage #services strong{float:left; margin:8px 0 0 10px; padding:0; font-size:14px; font-weight:bold; text-transform:uppercase;}
#container #homepage #services p{display:block; margin:0; padding:5px 0 0 0; clear:both; line-height:1.6em;}


#container #homepage #tim_video {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 20px;
 	padding:0;
  	list-style:none;
   	width: 420px; 
   	float: left}



/* ------Main Content-----*/

#container #content{float:left; width:630px; line-height:1.6em;}

/* -----Tim en video-----*/

#slider{
	margin: auto;
	padding: auto;
}


/* -----Tim en video-----*/

#tim_video h2{
	color:#FA8B60;
	padding-left: 50% ;
	font-family: 'Museo', Arial;
	
}

#tim_video p{
	color:#232323;
	/*cette ligne n'est pas utile, elle donne une zone de 30px pour le texte descriptif, beaucoup trop petit*/
	/*width:30px;*/
	width: 480px;
	/*le texte sera justifié*/
	text-align: justify;
	padding-left: 50% ;
	
}

#multi_info{
	background-color: #C7D0D5;
	height: 150px;
}

/* ---- BARRE DES CINQ POINTS ---- */

/* CINQ POINTS */

.circle{
	margin-top: 30px;
	position:relative;
	width:960px;
	height:150px;
	background-color: #e1e1e0;
}

.circle2{
	width:960px;
	height:100px;
	background-color: #e1e1e0;
	text-align: center;
	margin-bottom: 10px;
}

.trait{
	background-color: #ef713b;
	width: 800px;
	height: 6px;

	margin-top: 80px;
	margin-left: 50px;
	position: absolute;
}

.c1, .c2, .c3, .c4, .c5{
	position:absolute;
	top: 15px;
	margin-left: 15px;

	background-color:#1e2d57;
	-moz-border-radius: 50%;
	-webkit-border-radius: 390px;
	border-radius: 390px;
	width:130px;
	height:130px;
}

.c1{
	left: 0px;
}

.c2{
	left:200px;
}
.c3{
	left:400px;
}
.c4{
	left:600px;	
}
.c5{
	left:800px;	
}

.circle2 div{
	float: left;
	width: 130px;
	margin-right: 70px;

}

.circle2 div:first-child{ padding-left: 16px;}
.circle2 div:last-child { margin-right:0px }

.circle img{
	margin-top: 30px;
	margin-left: 30px;
}

.c2 img{
	margin-left: 48px;
}
.c3 img{
	margin-left: 58px;
}
.c4 img{
	margin-left: 48px;
}
.c5 img{
	margin-left: 40px;
	margin-top: 40px;
}

/* FIN CINQ POINTS */



/* ---- CONTENU ---- */

#content h2{
	color:#FA8B60;
    list-style:none;
    margin:auto;
    padding-top:14px;
    font-family: 'Museo', Arial;
}
#content h3{
	
/*	color:#FA8B60;
*/    list-style:none;
    margin:auto;
    padding:auto;
}

#formation img{
	
	padding-top: 30px;
	padding-left: 30px;
}


/* ------Right Column-----*/



#right_column h2{
	color:#FA8B60;
    list-style:none;
    margin:auto;
    padding-top:11px;
    font-family: 'Museo', Arial;
}

#right_column img{

    padding-top:11px;
}



#container #right_column{float:right; width:280px;}


/* ------MouseOver Portefolio-----*/


.tooltip{
    display: inline;
    position: relative;
}


.tooltip:hover:after{
    background: #FA8B60;
    opacity:0.9;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 0%;
    padding: 5px;
    position: absolute;
    z-index: 98;
    height:200px;
 	size:70%;
    font-size: 20px;
    text-align: center;
    vertical-align: center;
    padding-left: 25px;
   }




/* ---- PAGE INDEX -LOLITA- ---- */

#conteneurprincipal{
	width: 960px;
	height: 932px;
}

hr{

	height: 5px;
	background-color:#FA8B60;
	border: none;
	margin-top: -10px;
}

/* ---- ACTUALITÉ ---- */
#conteneurun{

	width: 680px;
	margin-right: 30px;
	float: left;
}

#conteneurun{
	text-align: justify;
}

#conteneurdeux{

	width: 250px;
	float: left;
}

#conteneurdeux p{
	text-align: justify;
}

article.contenuprincip {
	
	border-bottom: 3px solid #FA8B60; 
	/*pour que sous les articles il y ait un espacement entre l'image et le border bottom*/
	padding-bottom: 10px;
}


article.contenuprincip a{
	color: #FA8B60;
	font-weight: bold;
}

article:last-child{

	margin-bottom: 30px;

}

/* ---- PORTFOLIOS ---- */

/* proposer un stage */

#proposerstage{
	/*bouton proposer un stage page accueil*/
	width: 100%;
	height: 50px;

	background-color: red;

	margin-top: 14px;
	margin-bottom: 20px;
}

#proposerstage p{

	margin-top: 10px;

	font-family: "museo", Arial;
	font-size: 20px ;
	color: white;

	text-align: center;
	line-height: 50px;
}

/* fin proposer un stage */

/* portfolios */
.portfoliosaccueil{
	width: 250px;
	height: 250px;
	background-color: orange;
	margin-bottom: 10px;
}

/* placement des éléments */

.ch-grid {
    padding: 0;
    margin: 0;
    list-style: none;
}

.ch-grid:after {
    clear: both;
}

 
.ch-grid li {
    width: 250px;
    height: 250px;
    display: inline-block;
}

.ch-item {
	/*taille des images*/
    width: 250px;
    height: 250px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    
    transition: all 0.4s ease-in-out;
}
/* images de fond */
.ch-img-1 { 
    background-image: url(images/portfiolio1.jpg);
}
 
.ch-img-2 { 
    background-image: url(images/portfiolio2.jpg);
}
 
.ch-img-3 { 
    background-image: url(images/portfiolio3.jpg);
}

/* placement des informations */
.ch-info {
    position: absolute;
    background: rgba(250,113,59, 1);
    /* on veut qu'il y ait une marge de 25px de chaque côtés, donc taille de 200*200 */
    width: 200px;
    height: 200px;
    /* on ne veut pas que ce soit collé en haut à gauche*/
    margin-left: 25px;
    margin-top: 25px;

    /*ça cache ce qui dépasse */
    overflow: hidden;

    /* une opacité de 0 tant qu'on a pas passé notre souris*/
    opacity: 0;

    /* transition */
    transition: all 0.4s ease-in-out;
    transform: scale(0);
}

.ch-info h3 {

	text-align: center;
    color: white;
    line-height: 30px;

    text-transform: none;
    letter-spacing: 2px;
    font-size: 22px;

    margin: 0 20px;
    padding: 20px 0 0 0;
    
    font-family: 'Museo', Arial, sans-serif;
    
}


.ch-item:hover .ch-info {
    transform: scale(1);
    opacity: 1;
}

.ch-item:hover .ch-info p {
    opacity: 1;
}




/* -- -- -- -- -- PAGE TIM C'EST QUOI -- -- -- -- -- */


#proweb{
	/*largeur de 50%, hauteur de 400px (taille de l'image)*/
	width: 50%;

	height: 400px;
	/*background-color: red;*/

	/*un float pour placer mon élément à gauche, en premier*/
	float: left;
	
	/*Un text-align pour aligner l'image au centre de sa div*/
	text-align: center;
}

#descriptionproweb{
	width: 47%;

	/*Il faut que cet élément se place en float, après la div proweb*/
	float: left;
	
	/*on donne une marge au-dessus du bloc de texte*/
	margin-top: 20px;

	text-align: justify;
}

/*cette partie sert pour les liens qui seront dans la première partie et serviront d'ancre dans la page*/
#lienancre{
	text-align: center;
}

/*UTILISATION DE FLOAT QUI NÉCESSITE UN CLEAR*/
.clear{
	clear:both;
}

/* ---- MATIÈRES ---- */

#conteneurmatieres{
	width: 960px;
	margin: 0 auto;
}

#matieres{
	width: 960px;
	height: 870px;
	margin: 0 auto;
	border-top: 6px #FA8B60 solid;
}

#matieres h2{
	margin-top: 10px;
	margin-left: 10px;
}

#matieres p{
	margin-top: 5px;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 10px;
	/*text-align: justify;*/

}

#matieres p .imgillus{
	text-align: center;
}

p .imgillus{
	text-align: center;
}

#mat1{
	width: 400px;
	height: 250px;
	/*background-color: blue;*/
	margin-top: 30px;
	margin-left: 55px;
	margin-right: 25px;
	margin-bottom: 15px;
	float: left;
}

#mat2{
	width: 400px;
	height: 250px;
	/*background-color: yellow;*/
	margin-top: 30px;
	margin-right: 55px;
	margin-left: 25px;
	margin-bottom: 15px;
	float: left;
}

#mat3{
	width: 400px;
	height: 250px;
	/*background-color: blue;*/
	margin-top: 15px;
	margin-left: 55px;
	margin-right: 25px;
	margin-bottom: 15px;
	float: left;
}

#mat4{
	width: 400px;
	height: 250px;
	/*background-color: yellow;*/
	margin-top: 15px;
	margin-right: 55px;
	margin-left: 25px;
	margin-bottom: 15px;
	float: left;
}

/* ---- FIN MATIERES ---- */

/* ---- VS ---- */

#conteneurVS{
	width: 960px;
	margin: 0 auto;
}

#VS{
	width: 960px;
	height: 100%;
	margin: 0 auto;
	border-top: 6px #FA8B60 solid;
	padding-top: 20px;
}

.txtalign{
	text-align: justify;
}

.imgalign{
	text-align: center;
	margin: 0px;
}

/* ---- FIN VS ----*/











/* ---- CITATION ---- */

#citations{
	/*margin-top: 30px;*/
	width: 960px;
	height: 80px;
	margin-bottom: 30px;

	background-color: #e1e1e0;
}

.cita{
	text-align: center;
	font-family: "museo", Arial;
	font-size: 40px;
	font-weight: bold;
	/*alignement au centre horizontalement*/
	line-height: 80px;
	color: #868282;

	margin-top: 20px;
	margin-bottom: 0px;
}

/* ---- FIN CITATION ---- */


/* ======== PAGE ACTUALITÉS ======= */
#plus{
	background-color: #FA8B60;
	width: 680px;
	height: 50px;
	margin-top: 10px;
	margin-bottom: 30px;
}

#plus p{
	/* on retire les marges engendrées par le paragraphe*/
	margin: 0px;

	font-family: "Museo", Arial;
	font-size: 50px;

	/* on centre verticalement et horizontalement */
	line-height: 42px;
	text-align: center;
}

/* le lien étant placé sur la div, on fait en sorte que le lien sera en blanc*/
#conteneurun a{
	color: white;
}











/* ---- FOOTER ---- */

footer{
	width: 960px;
	height: 220px;
	background-color: #232323;
	margin-bottom: 0px;
}

#conteneurfooter{
	width: 640px;
	height: 200px;
	margin: auto;
	padding-top: 15px;
	color: white;
}

.part1{
	
	width: 640px;
	height: auto;
}

.part1 p{
	font-family: "museo";
	font-size: 25px;
	line-height: 55px;

	/* ON NE VEUT AUCUNE MARGE EN HAUT OU EN BAS, SAUF À DROITE */
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 10px;

	/* POUR QUE LES IMAGES FB TW NE PASSENT PAS EN-DESSOUS*/
	float: left;
}


.part2{
	width: 213px;
	height: auto;

	float: left;
}

.part3{
	width: 640px;
	height: auto;
}

.part3 p{
	/* ON ALIGNE LE COPYRIGHT AU CENTRE */
	text-align: center;
}

/* ---- FIN FOOTER ---- */
