html{
	width: ;
	height: 100%;
	background-color: yellow;
	margin: 0px;
	padding: 0px;
}

body{
	max-width: 100%;
	min-height: 100%;
	margin: 0px;
	padding: 0px;
}

p{
	font-family: 'Avenir', Arial;
	font-size: 13px;
}

section{
	width: 100%;
	margin-top: 30px;
	display: inline-block;

}

/* FONTS */

@font-face { 
  font-family: 'Avenir'; 
  src: url('font/Avenir.ttf'); 
}

@font-face { 
  font-family: 'Avenir'; 
  src: url('font/AvenirNext.ttf'); 
}

@font-face { 
  font-family: 'Museo'; 
  src: url('font/Museo300.otf'); 
}

/* FIN FONT */



/* LIENS */

a{
	text-decoration: none;
	color: #FA8B60;
}

a:hover{
	text-decoration: underline;
}

#lienancre{
	font-size: 14px;
	font-family: "museo", Arial;
	color:#FA8B60;
}

/* FIN LIENS */

/* TITRES */
h1, h2, h3{
	color: #FA8B60;
	font-family: 'Museo', Arial;
}

/*utilisé pour les cinq points*/
h4{
	color: #1e2d57;
	font-family: "Museo", Arial;
	margin-top: 0px;
	margin-bottom: 5px;
	font-size: 17px;
}

/* FIN TITRES */

/* SÉPARATEUR */
hr{

	height: 5px;
	background-color:#FA8B60;
	border: none;
	margin-top: 10px;
}
/* FIN SÉPARATEUR */

header{
	background-color: #232323;
	width: 100%;

}

#logo{
	padding-right:20px;
	padding-left: 20px;
}

nav{
	display: none;
}

#slider{
	margin: 0px;
}

#slider img{
	width: 100%;
	height: auto;
}

#services{
	margin: 0px;
}

#services img{
	width: 100%;
	height: auto;
	margin-top: -5.6%;
}

section{
	width: 100%;
}

article{
	margin: 0px;
	width: 100%;
}

#tim_video{
	float: none;
	width: 100%;
	margin: 0;
}

#tim_video{
	text-align: center;
}

#descriptionproweb{
	float: none;
	width: 100%;
}

#descriptionproweb li{
	list-style-type: none;
}

#descriptionproweb h2{
	text-align: center;
}

#descriptionproweb p{
	margin-left: 10px;
	margin-right: 10px;
	text-align: justify;
}

#proweb{
	/*largeur de 50%, hauteur de 400px (taille de l'image)*/
	width: 50%;

	height: 100%;
	/*background-color: red;*/

	/*un float pour placer mon élément à gauche, en premier*/
	float: left;
	
	/*Un text-align pour aligner l'image au centre de sa div*/
	text-align: center;
	margin-bottom: 30px;
}

/* ---- BARRE DES CINQ POINTS ---- */

/* CINQ POINTS */

.circle{
	
	position:relative;
	width:100%;
	height:150px;
	background-color: #e1e1e0;
}

.circle2{
	width:100%;
	height:100px;
	background-color: #e1e1e0;
	text-align: center;
	margin-bottom: 10px;
}

.trait{
	background-color: #ef713b;
	width: 85%;
	height: 6px;

	margin-top: 65px;
	margin-left: 50px;
	position: absolute;
}

.c1, .c2, .c3, .c4, .c5{
	position:absolute;
	top: 15px;
	margin-left: 3%;

	background-color:#1e2d57;
	-moz-border-radius: 50%;
	-webkit-border-radius: 390px;
	border-radius: 390px;
	width:100px;
	height:100px;
}

.c1{
	left: 0%;
}

.c2{
	left:20%;
}
.c3{
	left:40%;
}
.c4{
	left:60%;	
}
.c5{
	left:80%;	
}

.circle2 div{
	float: left;
	width: 16%;
	margin-right: 4%;

}

.circle2 div:first-child{ padding-left: 16px;}
.circle2 div:last-child { margin-right:0px }

.circle img{
	margin-top: 15px;
	margin-left: 15px;
}

.c2 img{
	margin-left: 32px;
}
.c3 img{
	margin-left: 43px;
}
.c4 img{
	margin-left: 32px;
}
.c5 img{
	margin-left: 25px;
	margin-top: 25px;
}

/* FIN CINQ POINTS */

/* ====== CONTENU ====== */

article.contenuprincip {
	
	border-bottom: 3px solid #FA8B60; 
	/*pour que sous les articles il y ait un espacement entre l'image et le border bottom*/
	padding-bottom: 10px;

}


article.contenuprincip a{
	color: #FA8B60;
	font-weight: bold;
}

/* ====== FIN CONTENU =====*/




/* ====== FOOTER ====== */
footer{
	width: 100%;
	height: auto;
	background-color: #232323;
	margin-bottom: 0px;
	overflow: hidden;
}

#conteneurfooter{
	width: 640px;
	height: auto;
	margin: auto;
	padding-top: 15px;
	color: white;
}

.part1{
	
	width: 640px;
	height: auto;
}

.part1 p{
	font-family: "museo";
	font-size: 25px;
	line-height: 55px;

	/* ON NE VEUT AUCUNE MARGE EN HAUT OU EN BAS, SAUF À DROITE */
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 10px;

	/* POUR QUE LES IMAGES FB TW NE PASSENT PAS EN-DESSOUS*/
	float: left;
}


.part2{
	width: 213px;
	height: auto;

	float: left;
}

.part3{
	width: 640px;
	height: auto;
	float: left;
}

.part3 p{
	/* ON ALIGNE LE COPYRIGHT AU CENTRE */
	text-align: center;
}
