html{overflow-y:scroll;} 

body{ list-style:none; /*retrait de toutes marges*/ padding:0px; margin:0px; /*Pourquoi un margin-right de 10px? -> Modifiée à margin:0px; et ajout de padding:0px;*/ padding:0; font-size:13px; font-family:'Avenir Next', Arial, Times, serif; color:#232323;  }

a{outline:none; text-decoration:none;}

@font-face { 
  font-family: 'Avenir'; 
  src: url('font/Avenir.ttf'); 
}

@font-face { 
  font-family: 'Avenir'; 
  src: url('font/AvenirNext.ttf'); 
}

@font-face { 
  font-family: 'Museo'; 
  src: url('font/Museo300.otf'); 
}

/*----------------------------------------------Generalise-------------------------------------*/

#header, #container, #footer{display:block; width:960px; margin:0 auto; /*background-color: blue;*/}

nav ul{margin:0; padding:0; list-style:none;}


address{font-style:normal;}


form, fieldset, legend{margin:0; padding:0; border:none;}
legend{display:none;}
input, textarea, select{font-size:12px; font-family:'Avenir Next', Arial ,Times,serif;}


h1, h2{
	font-family: 'Museo', Arial;
	color:#FA8B60;
}

h2 a{
	color:#FA8B60;
}

h2 a:hover{
	text-decoration: underline;
}

/*----------------------------------------------Header-------------------------------------*/

#header{
	width:960px;

}
/*margin: haut, droite, bas, gauche*/
#header #logo{float:left; margin:0 20px 0 20px;}

#logo #header{
	 vertical-align: middle;
}

#header  {color:#232323;}
/*retrait du margin:10px 0 0 0 dans la ligne en-dessous pour la nav, car sinon espace en haut inutile*/
/*ajout de la taille de la navigation avec width:960px;*/
#header nav{width: 960px; display:block; float:right; margin:0 0 0 0; padding:5px 0; color:#C0BAB6; background-color:#232323;}
/*padding plus petit pour que tous les items du menu tiennent*/
#header nav ul{padding:35px 0;  }
/*Réduction de l'espacement des liens du menu à 0px*/
#header nav li a{display:inline; margin-right:0px; color:#FFFFFF; font-family: "Museo"; font-size: 17px; }
#header nav li a:hover{
	padding-bottom: 4px;
	text-decoration: none;
	/*Ajout d'un soulignement au survol à l'aide d'un border-bottom*/
	border-bottom: 2px #ef7039 solid;
    -moz-text-decoration-color: red; /* Code for Firefox */
    -webkit-text-decoration-color: red; }
/*on réduit le margin-right afin de placer une police plus grosse pour le menu*/
#header nav li{display:inline; margin-right:15px; color:#FFFFFF; }
#header nav li.last{margin-right:0;}



/*----------------------------------------------Content Area-------------------------------------*/
/* suppression du padding 30px du container car sinon le footer a 30px d'espace avec le bas */
#container{padding:0, 0;}
#container section{display:block; width:100%; margin:0 0 30px 0; padding:0;}
#container .last{margin:0;}
#container .more{text-align:right;}



/* ------Homepage-----*/

#container #homepage{display:block; width:100%; line-height:1.6em;}

#container #homepage #services{padding:0 0 0 0; border-bottom:0px solid #DEDEDE;}
#container #homepage #services article{}
#container #homepage #services figure{display:inline; float:left;}
#container #homepage #services strong{float:left; margin:8px 0 0 10px; padding:0; font-size:14px; font-weight:bold; text-transform:uppercase;}
#container #homepage #services p{display:block; margin:0; padding:5px 0 0 0; clear:both; line-height:1.6em;}


#container #homepage #tim_video article figure ul{margin:0; padding:0; list-style:none;}



/* ------Main Content-----*/

#container #content{float:left; width:630px; line-height:1.6em;}

#container #content #posts{}
#container #content #posts ul{margin:0; padding:0; list-style:none;}
#container #content #posts ul li{display:block; width:100%; margin-bottom:30px;}
#container #content #posts ul li.last{ margin-bottom:0;}
#container #content #posts ul li article{}
#container #content #posts ul li article figure{}
#container #content #posts ul li article figure img{float:left; width:180px; height:150px; margin:0; padding:4px; border:1px solid #D6D6D6;}
#container #content #posts ul li article figure figcaption{display:block; float:right; width:410px;}
#container #content #posts ul li article figure h2{font-size:14px;}
#container #content #posts ul li article figure footer{}

/* -----Tim en video-----*/

#slider{
	margin: auto;
	padding: auto;
}


/* -----Tim en video-----*/

#tim_video h2{
	color:#FA8B60;
	width:250px;
	padding-left: 50% ;
	font-family: 'Museo', Arial;
	
}

#tim_video p{
	color:#232323;
	/*cette ligne n'est pas utile, elle donne une zone de 30px pour le texte descriptif, beaucoup trop petit*/
	/*width:30px;*/
	width: 480px;
	/*le texte sera justifié*/
	text-align: justify;
	padding-left: 50% ;
	
}

#multi_info{
	background-color: #C7D0D5;
	height: 150px;
}
hr {
	height: 5px;
	background-color:#FA8B60;
}

/* ---- BARRE DES CINQ POINTS ---- */

#cinqpts{
	width: 960px;
	height: 200px;
	background-color: #e1e1e0;
	margin-top: 30px;
	text-align: center;
}

#imgcinqpts{
	text-align: center;
	position:relative;
	top:10%;
}

/* ---- CONTENU ---- */

#content h2{
	color:#FA8B60;
    list-style:none;
    margin:auto;
    padding-top:14px;
    font-family: 'Museo', Arial;
}
#content h3{
	
	color:#FA8B60;
    list-style:none;
    margin:auto;
    padding:auto;
}

#formation img{
	
	padding-top: 30px;
	padding-left: 30px;
}


/* ------Right Column-----*/



#right_column h2{
	color:#FA8B60;
    list-style:none;
    margin:auto;
    padding-top:11px;
    font-family: 'Museo', Arial;
}

#right_column img{

    padding-top:11px;
}



#container #right_column{float:right; width:280px;}


/* ------MouseOver Portefolio-----*/


.tooltip{
    display: inline;
    position: relative;
}


.tooltip:hover:after{
    background: #FA8B60;
    opacity:0.9;
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 0%;
    padding: 5px ;
    position: absolute;
    z-index: 98;
   	size: 120%;
    font-size: 20px;
    text-align: center;
}






















/*----------------------------------------------Footer-------------------------------------*/

/*#footer{padding:20px 0;}*/
/*#footer p{margin:0; padding:0;}*/

/* -- -- -- -- -- PAGE TIM C'EST QUOI -- -- -- -- -- */



#proweb{
	/*largeur de 50%, hauteur de 400px (taille de l'image)*/
	width: 50%;
	height: 400px;
	/*background-color: red;*/

	/*un float pour placer mon élément à gauche, en premier*/
	float: left;
	
	/*Un text-align pour aligner l'image au centre de sa div*/
	text-align: center;
}

#descriptionproweb{
	width: 47%;
	/*background-color: yellow;*/

	/*Il faut que cet élément se place en float, après la div proweb*/
	float: left;
	
	/*on donne une marge au-dessus du bloc de texte*/
	margin-top: 20px;

	text-align: justify;
}

/*cette partie sert pour les liens qui seront dans la première partie et serviront d'ancre dans la page*/
#lienancre{
	text-align: center;
}

/*UTILISATION DE FLOAT QUI NÉCESSITE UN CLEAR*/
.clear{
	clear:both;
}

/* ---- MATIÈRES ---- */

#conteneurmatieres{
	width: 960px;
	margin: 0 auto;
}

#matieres{
	width: 960px;
	height: 870px;
	/*background-color: green;*/
	margin: 0 auto;
	border-top: 6px #FA8B60 solid;
}

#matieres h2{
	margin-top: 10px;
	margin-left: 10px;
}

#matieres p{
	margin-top: 5px;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 10px;
	/*text-align: justify;*/

}

#matieres p .imgillus{
	text-align: center;
}

p .imgillus{
	text-align: center;
}

#mat1{
	width: 400px;
	height: 250px;
	/*background-color: blue;*/
	margin-top: 30px;
	margin-left: 55px;
	margin-right: 25px;
	margin-bottom: 15px;
	float: left;
}

#mat2{
	width: 400px;
	height: 250px;
	/*background-color: yellow;*/
	margin-top: 30px;
	margin-right: 55px;
	margin-left: 25px;
	margin-bottom: 15px;
	float: left;
}

#mat3{
	width: 400px;
	height: 250px;
	/*background-color: blue;*/
	margin-top: 15px;
	margin-left: 55px;
	margin-right: 25px;
	margin-bottom: 15px;
	float: left;
}

#mat4{
	width: 400px;
	height: 250px;
	/*background-color: yellow;*/
	margin-top: 15px;
	margin-right: 55px;
	margin-left: 25px;
	margin-bottom: 15px;
	float: left;
}

/* ---- FIN MATIERES ---- */

/* ---- VS ---- */

#conteneurVS{
	width: 960px;
	margin: 0 auto;
}

#VS{
	width: 960px;
	height: 100%;
	margin: 0 auto;
	border-top: 6px #FA8B60 solid;
	padding-top: 20px;
}

.txtalign{
	text-align: justify;
}

.imgalign{
	text-align: center;
	margin: 0px;
}

/* ---- FIN VS ----*/

/* ---- CITATIONS ---- */

#citations{
	/*margin-top: 30px;*/
	width: 960px;
	height: 80px;
	margin-bottom: 30px;

	background-color: #e1e1e0;
}

.cita{
	text-align: center;
	font-family: "museo", Arial;
	font-size: 40px;
	font-weight: bold;
	/*alignement au centre horizontalement*/
	line-height: 80px;
	color: #868282;

	margin-top: 20px;
	margin-bottom: 0px;
}

/* ---- FIN CITATIONS ---- */

/* ---- FOOTER ---- */

footer{
	width: 960px;
	height: 220px;
	background-color: #232323;
	margin-bottom: 0px;
}

#conteneurfooter{
	width: 640px;
	height: 200px;
	margin: auto;
	padding-top: 15px;
	color: white;
}

.part1{
	
	width: 640px;
	height: auto;
}

.part1 p{
	font-family: "museo";
	font-size: 25px;
	line-height: 55px;

	/* ON NE VEUT AUCUNE MARGE EN HAUT OU EN BAS, SAUF À DROITE */
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 10px;

	/* POUR QUE LES IMAGES FB TW NE PASSENT PAS EN-DESSOUS*/
	float: left;
}


.part2{
	width: 213px;
	height: auto;

	float: left;
}

.part3{
	width: 640px;
	height: auto;
}

.part3 p{
	/* ON ALIGNE LE COPYRIGHT AU CENTRE */
	text-align: center;
}

/* ---- FIN FOOTER ---- */

