body{
	font-family: Verdana;
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
}


/* MENU________________________________________________________*/
nav{
	position: fixed;
	width: 20%;
	height: 100%;
	background-color: #1E2D57;
	text-decoration: none;
	padding-top: 20px;
}

nav ul{
	text-decoration: none;
	list-style-type: none;
	padding: 0;
}


nav ul li {
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	text-decoration: none;
}

nav ul li:hover {
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	background-color: orange;
}

nav ul a li{
	color:white;
	text-decoration: none;
}

nav ul a li span{
	padding-left: 30px;
}

nav ul a:hover{
	color: #1E2D57;
	width: 100%;
	text-decoration: none;
}






/* Section droite________________________________________________________*/
.right{
	float: right;
	width: 80%; 
	height:100%;
}

.right section{
	padding-left:50px;
	padding-right:50px;
	padding-top:20px;
	padding-bottom:20px;

}
#fond_logo{
	background-color: black;
	width: 100%;
	text-align: center;
}

#fond_logo img{
	width: 20%;
} 

#logo{
	text-align: center;
	background-color: black;
	margin: 0;
	padding: 0;
}

#fond_banniere {
	text-align: center;
}

#fond_banniere img {
	width: 100%;
}

#tim_hr{
	text-align: center;
	margin-top: 10px;
}

article{
	width: 48%;
	float: left;
	margin-left: 20px;
}

article h1{
	color: orange;
	text-decoration: underline;
}

article #plus{
	background-color: #1E2D57;
	height: 20%;
	text-align: center;
}

article #plus p{
	color: white;
}

#gestion-list{
	border-bottom: solid 2px orange;
	padding-bottom: 5px;
	margin-bottom: 25px;
}

button{
	margin-left: 5px;
	cursor: pointer; 
}

.list_gestion{
	border-bottom: solid 1px grey;
	margin-bottom: 5px; 
}

.btn_modif{
	float: right;
	text-decoration: none;
	color: #1E2D57; 
}


input{
	margin-right: 10px;
}

textarea{
	width: 100%;
	height:300px;
}
.form{
	width: 100%;
	margin-bottom: 20px;
}

.right p span{
	color : red;
}

.liste-deroulante{
	width: 20%;
}

.select{
	float: right;
}

.border-deroulant{
	border-bottom: 1px solid orange;
	padding-bottom:5px;
}

a button {
	border: none;
	background-color: #1E2D57;
	color: white; 
	border-radius: 10px;
	height: 30px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 14px; 
}

input[type="submit"]{
 border: none;
	background-color: #1E2D57;
	color: white; 
	border-radius: 10px;
	height: 30px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 14px;
}